@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="separator" style="clear: both; text-align: center;">
    <a href="https://twitter.com/malikmasis" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="35" data-original-width="35" src="https://1.bp.blogspot.com/-f7fXJykPN78/WmnTZCB6h9I/AAAAAAAACSY/EOH_5rohThwCjE6y8dQH6qsbzoBY7FxTgCLcBGAs/s1600/icon-twitter-1.png" /></a>
</div>
<br />
<div class="separator" style="clear: both; text-align: center;">
    <a href="https://linkedin/in/malikmasis" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="32" data-original-width="32" src="https://2.bp.blogspot.com/-ZXkvpbbn-NQ/WmnTxQQ2O9I/AAAAAAAACSc/IQk5EJDH8_4FVhWoxk6BUdGOhRDgAlEowCLcBGAs/s1600/if_linkedin_28298.png" /></a>
</div>
<div class="separator" style="clear: both; text-align: center;">
    <a href="https://medium.com/malik.masis" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="32" data-original-width="32" src="https://2.bp.blogspot.com/-DKeL_P6gmJ8/WmnW-RqYe8I/AAAAAAAACSs/79TJoEj6NNgMA5EdLHuWpekIIXFTP2PGgCLcBGAs/s1600/medium.png" /></a>
</div>
<br />
<div class="separator" style="clear: both; text-align: center;">
    <a href="https://4.bp.blogspot.com/-lmkyvKpT_Vs/WmnXTGxRoaI/AAAAAAAACSw/Pjvniuio-r8kQOWH2VVXW0_8KXfTYmXLgCLcBGAs/s1600/hr.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="32" data-original-width="32" height="32" src="https://4.bp.blogspot.com/-lmkyvKpT_Vs/WmnXTGxRoaI/AAAAAAAACSw/Pjvniuio-r8kQOWH2VVXW0_8KXfTYmXLgCLcBGAs/s200/hr.png" width="32" /></a>
</div>
<br />
<div class="separator" style="clear: both; text-align: center;">
    <a href="https://github.com/malikmasis" imageanchor="1"><img border="0" data-original-height="64" data-original-width="64" height="64" src="https://1.bp.blogspot.com/-79BqpIAspHA/WmzcQl83pcI/AAAAAAAACTE/JNXn-VZh6GohRLzME9gqI7LVie4iVoiSACLcBGAs/s320/images.png" width="64" /></a>
</div>
